

<li class="nav-item">
    <a class="nav-link text-white" data-bs-toggle="collapse" href="#product" role="button" aria-expanded="false" aria-controls="homeSubmenu">
        Category
    </a>
    <div class="collapse" id="product">
        <ul class="nav flex-column ms-3">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="CreateCategory">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="CategoryList">List Of Category</a>
            </li>
        </ul>
    </div>
</li>