

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="ProductCreate" asp-action="ProductCreate" method="post">
                <h2>Create Product.</h2>
                <hr />
                <div class="mb-3">
                    <label class="control-label">Category</label>
                    <select class="form-control" id="ddlCategory"></select>
                    <span class="text-danger" id="categoryIdError"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Name</label>
                    <input class="form-control" id="name"/>
                    <span class="text-danger" id="nameError"></span>
                </div>
                <div class="mb-3">
                    <label  class="control-label">Purchase Price</label>
                    <input class="form-control" id="purchasePrice"/>
                    <span  class="text-danger" id="purchaseError"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Selling Price</label>
                    <input  class="form-control" id="sellingPrice"/>
                    <span  class="text-danger" id="sellingError"></span>
                </div>
                <div>
                    <button id="product-submit" type="submit" class="w-100 btn btn-lg btn-primary btnSave">Save</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function () {
        loadCategory();
    });


    $(document).on('click', '.btnSave', function () {
        event.preventDefault();
        debugger;

        $('#categoryIdError').text('');
        $('#nameError').text('');
        $('#purchaseError').text('');
        $('#sellingError').text('');

        const obj = {
            name: $('#name').val(),
            purchasePrice: $('#purchasePrice').val(),
            sellingPrice: $('#sellingPrice').val(),
            categoryId: $('#ddlCategory').val()
        };
        let isValid = true;


        if (!obj.categoryId || parseInt(obj.categoryId) === 0) {

            $('#categoryIdError').text("Please select the value!!");
            isValid = false;


        }
        if(!obj.name){
            $('#nameError').text("Please enter product name!!");
            isValid = false;

        }

        if (!obj.purchasePrice) {
            $('#purchaseError').text("Please product purchase price!!");
            isValid = false;

        }

        if(!obj.sellingPrice){
            $('#sellingError').text("Please product selling price!!");
            isValid = false;


        }

        if(isValid){

            $.ajax({
                url: `/Product/SaveProduct`,
                type: 'POST',
                data: obj,
                success: function (response) {
                    debugger;
                    if (response.status == 'Success') {
                        // $("#txtName").val('');
                        // window.location.href = "/Home/Index";

                        alert("Product saved successfully!");
                        $('#name').val('');
                        $('#purchasePrice').val('');
                        $('#sellingPrice').val('');
                        $('#ddlCategory').val('');

                    }
                    else {
                        alert(response.message);
                        $("#txtName").val('');
                    }

                },
                error: function (error) {
                    console.log(error)
                }
            });


           

        }else{
           // alert("Unable to save!!");
        }
   

    })

    $('#name').on('input', function () {
        const name = $(this).val();
        if (name) {
            $('#nameError').text("");
        } else {
            $('#nameError').text("Please enter product name!!");
        }
    });

    
    $('#purchasePrice').on('input', function () {
        const name = $(this).val();
        if (purchasePrice) {
            $('#purchaseError').text("");
        } else {
            $('#purchaseError').text("Please product purchase price!!");
        }
    });

    $('#sellingPrice').on('input', function () {
        const sellingPrice = $(this).val();
        if (sellingPrice) {
            $('#sellingError').text("");
        } else {
            $('#sellingError').text("Please product selling price!!");
        }
    });


    $('#ddlCategory').on('input', function () {
        const categoryId = $(this).val();
        if (categoryId) {
            $('#categoryIdError').text("");
        } else {
            $('#categoryIdError').text("Please select the value!!");
        }
    });

    function loadCategory() {

        let option = '<option value="0">Please select a sub category</option>';
        $.ajax({
            url: `/Category/ListOfCAtegory`,
            type: 'GET',
            success: function (response) {
                debugger;
                let data = response.data;
                if (response.status == 'Success') {

                    for (let i = 0; i < data.length; i++) {
                        const element = data[i];
                        option += `<option value="${element.id}">${element.name}</option>`;
                    }
                    $('#ddlCategory').html(option);

                }
                else {
                    alert(response.message);
                    $("#txtName").val('');
                }

            },
            error: function (error) {
                console.log(error)
            }
        });
    }

</script>